@import 'common/var';
@import 'mixins/mixins';

@include b(block-select) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 100;

  animation-duration: .5s;

  @include e(header) {}

  & .mo-header-button.is-left .mo-button {
    width: 40px;
    height: $--header-height;
    color: $--color-white;
    background-color: $--back-btn-background-color;
    border-radius: 0;
  }

  @include e(container) {
    padding-top: $--header-height;
    height: 100vh;
    // text-align: center;
    overflow: hidden;
  }
}
