/* Colors
-------------------------- */
$--color-white: #fff;
$--color-black: #000;

$--color-primary: #3498DB !default;

$--color-text-primary: #2d2f33 !default;
$--color-text-regular: #5a5e66 !default;
$--color-text-secondary: #878d99 !default;
$--color-text-placeholder: #b4bccc !default;

/* Font
-------------------------- */
$--font-path: 'fonts' !default;
$--font-size-small: 14px !default;
$--font-size-base: 18px !default;
$--font-size-large: 20px !default;